<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="SourceAdress" value="C:\Users\D-06\Desktop\test"/>
    <!--<add key="MongodbAdress2" value="mongodb://admin:xscope@192.168.0.99:27017"/>-->
    <add key="MongodbAdress" value="mongodb://localhost:27017"/>
  </appSettings>
</configuration>